/*
Button Layouts
Author: Mohammad Reza Ebrahimi
Edited By : A.T
*/


button.subm-post {
  background: #5779D8;
  background: -moz-linear-gradient(top, #52a8e8 0%, #377ad0 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font-family: "Tahoma";
  direction:rtl;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 0 5px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 243px;
  height:28px;
  -webkit-background-clip: padding-box;
}

button.subm-post:hover {
  background: #206bcb;
  background: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box;
}

button.subm-post:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #2361a4;
  -webkit-background-clip: padding-box;
}

button[disabled].subm-post,
button[disabled].subm-post:hover,
button[disabled].subm-post:active {
  background: #dadada;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #dadada 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

button.subm-post::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*************************/

button.subm-posts {
margin-bottom:7px;
  background: #5779D8;
  background: -moz-linear-gradient(top, #52a8e8 0%, #377ad0 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font-family: "Tahoma";
  direction:rtl;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 0px 0 5px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 72px;
  height:19px;
  -webkit-background-clip: padding-box;
}

button.subm-posts:hover {
  background: #1A5BAC;
  background: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box;
}

button.subm-posts:active {
margin-top:1px;
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #2361a4;
  -webkit-background-clip: padding-box;
}

button[disabled].subm-posts,
button[disabled].subm-posts:hover,
button[disabled].subm-posts:active {
  background: #dadada;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #dadada 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

button.subms-post::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*************************/
button.cupid-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "Tahoma";
  font-size: 11px;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

button.cupid-green:hover {
  background: #76b347;
  background: -moz-linear-gradient(top, #76b347 0%, #5e9e2e 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

button.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
}
button[disabled].cupid-green,
button[disabled].cupid-green:hover,
button[disabled].cupid-green:active {
  background: #dadada;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #dadada 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

button.cupid-green::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*************************/
button.clean-gray {
  background: #eee;
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font-family: "Tahoma";
  font-size: 11px;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}

button.clean-gray:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}

button.clean-gray:active {
  background: #de1111;
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
/******************************************/
button.mini-posts {
margin-bottom:7px;
  background: #5779D8;
  background: -moz-linear-gradient(top, #52a8e8 0%, #377ad0 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font-family: "Tahoma";
  direction:rtl;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 0px 0 5px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 23px;
  -webkit-background-clip: padding-box;
}

button.mini-posts:hover {
  background: #206bcb;
  background: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box;
}

button.mini-posts:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #2361a4;
  -webkit-background-clip: padding-box;
}

button[disabled].mini-posts,
button[disabled].mini-posts:hover,
button[disabled].mini-posts:active {
  background: #dadada;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #dadada 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

button.mini-post::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/***************************/

button.ctrl-subs {
margin-bottom:7px;
  background: #5779D8;
  background: -moz-linear-gradient(top, #52a8e8 0%, #377ad0 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font-family: "Tahoma";
  direction:rtl;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 0px 0 5px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 23px;
  height:19px;
  -webkit-background-clip: padding-box;
}

button.ctrl-subs:hover {
  background: #206bcb;
  background: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box;
}

button.ctrl-subs:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #2361a4;
  -webkit-background-clip: padding-box;
}

button[disabled].ctrl-subs,
button[disabled].ctrl-subs:hover,
button[disabled].ctrl-subs:active {
  background: #dadada;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #dadada 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

button.ctrl-subs::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*******************/
button.clean-orng {
  background: #ff7800;
  background: -moz-linear-gradient(top, #ff7800%, #ea5901 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff7800), to(#ea5901));
  border: 1px solid #ea5901;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-family: "Tahoma";
  font-size: 11px;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #ff7800;
  width: 150px;
}

button.clean-orng:hover {
  background: #ee4300;
  background: -moz-linear-gradient(top, #ee4300 0%, #c73800 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee4300), to(#c73800));
  border: 1px solid #c73800;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ee4300;
}

button.clean-orng:active {
  border: 1px solid #e74100;
  border-bottom: 1px solid #c43700;
  -moz-box-shadow: inset 0 0 5px 2px #e74100, 0 1px 0 0 #ff7800;
  -webkit-box-shadow: inset 0 0 5px 2px #e74100, 0 1px 0 0 #ff7800;
  box-shadow: inset 0 0 5px 2px #e74100, 0 1px 0 0 #ff7800;
}
/*******************/
input.clean-red {
  background: #ee2200;
  background: -moz-linear-gradient(top, #ee2200%, #dd4624 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee2200), to(#dd4624));
  border: 1px solid #dd4624;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-family: "Tahoma";
  font-size: 11px;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #ee2200;
  width: 150px;
}

input.clean-red:hover {
  background: #ee4300;
  background: -moz-linear-gradient(top, #ee4300 0%, #c71300 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee4300), to(#c71300));
  border: 1px solid #c71300;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ee4300;
}

button.clean-red:active {
  border: 1px solid #e70000;
  border-bottom: 1px solid #c40900;
  -moz-box-shadow: inset 0 0 5px 2px #e74100, 0 1px 0 0 #ee2200;
  -webkit-box-shadow: inset 0 0 5px 2px #e74100, 0 1px 0 0 #ee2200;
  box-shadow: inset 0 0 5px 2px #e74100, 0 1px 0 0 #ee2200;
}
/*************************/
/***************************/

input.ctrl-subs {
margin-bottom:7px;
  background: #5779D8;
  background: -moz-linear-gradient(top, #52a8e8 0%, #377ad0 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font-family: "Tahoma";
  direction:rtl;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 0px 0 5px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 23px;
  height:19px;
  -webkit-background-clip: padding-box;
}

input.ctrl-subs:hover {
  background: #206bcb;
  background: -moz-linear-gradient(top, #3e9ee5 0%, #206bcb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box;
}

input.ctrl-subs:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #2361a4;
  -webkit-background-clip: padding-box;
}

input[disabled].ctrl-subs,
input[disabled].ctrl-subs:hover,
input[disabled].ctrl-subs:active {
  background: #dadada;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #dadada 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

input.ctrl-subs::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*******************/